{% extends 'user_base.html' %}

{% block title %}
    我的课程- 慕学在线网
{% endblock %}

{% block custom_css %}
{% endblock %}
{% block custom_js %}
{% endblock %}
{% block crumbs %}
    <section>
        <div class="wp">
            <ul class="crumbs">
                <li class="active"><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="">个人中心</a>></li>
                <li>我的课程</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block left_content %}
    <div class="left">
        <ul>
            <li><a href="{% url 'user:user_info' %}">个人资料</a></li>
            <li class="active2"><a href="{% url 'user:user_course' %}">我的课程</a></li>
            <li><a href="{% url 'user:fav_course' %}">我的收藏</a></li>
            <li>
                <a href="{% url 'user:user_message' %}" style="position: relative;">
                    我的消息
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block right_content %}
    <div class="right">
        <div class="personal_des Releasecont">
            <div class="head">
                <h1>我的课程</h1>
            </div>
        </div>
        <div class="personal_des permessage">
            <div class="companycenter">
                <div class="group_list brief">
                    {% for user_course in my_courses %}
                        <div class="module1_5 box">
                            <a href="{% url 'course:course_detail' user_course.course.id %}">
                                <img width="214" height="190" class="scrollLoading"
                                     src="{{ MEDIA_URL }}{{ user_course.course.image }}"/>
                            </a>
                            <div class="des">
                                <a href="course-detail.html"><h2>{{ user_course.course.name }}</h2></a>
                                <span class="fl">课时：<i class="key">{{ user_course.course.learn_times }}</i></span>
                                <span class="fr">学习人数：{{ user_course.course.studentsNums }}</span>
                            </div>
                            <div class="bottom">
                                <span class="fl">{{ user_course.course.course_org.name }}</span>
                                <span class="star fr  notlogin" data-favid="15">{{ user_course.course.favNums }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}